@use '../../styles/variables' as *;

$item-grid-dimens: 16rem;
$scrollbar-extra: 1rem;

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, $item-grid-dimens);
    grid-auto-rows: $item-grid-dimens;
    justify-content: center;
    gap: $double-gap;
}

.empty {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: $gap;
    height: $item-grid-dimens;
    color: $dark6;
    animation: var(--fade-in) $trans-dur ease-in;
}

.skeleton {
    @extend .grid;
    max-height: $item-grid-dimens;
    overflow: hidden;
}

