@use '../../../styles/variables' as *;

.grid {
    --preview-dimens: 16rem;
    --just-cnt: center;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, var(--preview-dimens)));
    justify-content: var(--just-cnt);
    gap: $gap;
    margin-block: $gap;

    @include screen-medium {
        --just-cnt: flex-start;
    }
}