@use '../../../styles/variables' as *;

.cont {
    --col-n: 1;

    display: grid;
    grid-template-columns: repeat(var(--col-n), 1fr);
    gap: $gap;
    padding: 3rem;
    border-radius: 0 0 $border-radius $border-radius;
    border: $border-width solid $light1-trans;
    background-color: $dark6;
    margin-bottom: $double-gap;

    & label {
        font-weight: 500;
    }

    @include screen-medium {
        --col-n: 2
    }

    @include screen-large {
        --col-n: 3;
    }
}

.search {
    grid-column: 1 / -1;
}