@use '../../../styles/variables' as *;

$main-height: 10rem;

.book {
    grid-template-areas:    'h h'
                            'img info'
                            'desc desc';
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: auto auto minmax($main-height, auto) minmax($main-height, auto);
        
    h5 {
        font-size: 1rem;
        color: $light3;
        min-height: 1lh;
        margin-bottom: 0.5em;
    }

    aside {
        background-color: $dark4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 0;
    }

    figure {
        margin-right: 0;
    }

    @include screen-medium {
        grid-template-areas:    'h info'
                                'desc img';

        grid-auto-columns: 2fr 1fr;
        grid-auto-rows: auto minmax($main-height, auto);

        aside {
            background-color: $dark4;
            margin-right: 0;
            padding-block: 0;
        }

        figure {
            margin-right: var(--inline-indent);
            margin-left: 0;
        }
        
        main {
            margin-right: 0;
        }
    }
}