@use '../../styles/variables' as *;

.btninp {
    position: relative;

    input {
        padding-right: calc($input-padding + $btn-std);

        &:read-only {
            cursor: pointer;
        }

        &:focus+button.hwb,
        &:not(:placeholder-shown)+button.hwb {
            opacity: 1;
            visibility: visible;
        }
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        
        &.hwb {
            visibility: hidden;
            opacity: 0;
        }
    }
}