@use '../../styles/variables' as *;

.btn {
    font-weight: 500;
    padding-block: $input-padding;
    padding-inline: $input-padding;

    &:disabled {
        cursor: not-allowed;
    }

    &.square {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
    }

    &.trans {
        &:disabled {
            background-color: $dark3;
            color: $dark4;
        }
    }
    
    &.dark {
        background-color: $dark4;
        color: $light4;
    
        &:disabled {
            background-color: $dark6;
            color: $light3;
        }
    
        @include hover {
            &:not(:disabled) {
                background-color: $dark5;
                color: $light1;
            }
        }
    }
    
    &.purple {
        background-color: $light1;
        color: $dark1;

        &:disabled {
            background-color: $dark6;
            color: $dark4;
        }
    
        @include hover {
            &:not(:disabled) {
                color: $light4;
            }
        }
    }
    
    &.black {
        background-color: $dark1;
        color: $light2;
    
        @include hover {
            background-color: $dark2;
            color: $light1;
        }
    }
    
    &.blue {
        background-color: $light2;
        color: $dark1;
    
        @include hover {
            background-color: $light1;
        }
    }
}

