@use '../../styles/variables' as *;

.btn {
    padding-block: $input-padding;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: $input-padding;
    aspect-ratio: 1/1;
}

.rect {
    padding-inline: 1.25 * $input-padding;

    i {
        margin-right: 1.25 * $input-padding;
    }
}

.dark {
    background-color: $dark3;
    color: $light4;

    &:disabled {
        background-color: $dark6;
        color: $light3;
        cursor: not-allowed;
    }

    @include hover {
        &:not(:disabled) {
            background-color: $dark3;
            color: $light1;
        }
    }
}

.light {
    background-color: $light1;
    color: $dark3;

    @include hover {
        &:not(:disabled) {
            color: $light4;
        }
    }
}

.btn.black {
    background-color: $dark1;
    color: $light2;

    @include hover {
        background-color: $dark2;
        color: $light1;
    }
}

.btn.blue {
    background-color: $light2;
    color: $dark1;

    @include hover {
        color: $light4;
        background-color: $light1;;
    }
}