@use '../../../../styles/variables' as *;

.grid {
    position: relative;
    margin-top: $double-gap;
    border-radius: $border-radius;
    padding: $main-inline-padding;
    padding-bottom: calc(2 * $main-inline-padding + $btn-std);
    background-color: $dark1;
}

.pag {
    position: absolute;
    left: 0;
    right: 0;
    bottom: $main-inline-padding;
    display: flex;
    justify-content: center;
    gap: $double-gap;
    animation: var(--anim-fade-in);
}