@use '../../../styles/variables' as *;

.panel {
    display: flex;
    margin-top: 3rem;

    a {
        flex-grow: 1;
        padding: 1.25 * $input-padding $input-padding;
        background-color: $dark4;
        border-radius: $border-radius $border-radius 0 0;
        text-align: center;
        transition-duration: $trans-dur;
        transition-timing-function: $trans-fn;
        transition-property: color, background-color;

        &.active {
            background-color: $dark6;
            margin-bottom: -1 * $border-width;
        }

        @include hover {
            &:not(.active) {
                background-color: $dark5;
                color: $light1;
            }
        }
    }

}