$main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$icon-font: 'icomoon';
$check-icon: "\e908";

// $color1: #2D3250;
// $color2: #424769;
// $color3: #4f557a;
// $color4: #7077A1;
// $color5: #F6B17A;
$dark1: #3a3b4d;
$dark2: #404258;
$dark3: #474E68;
$dark4: #4d5570;
$dark5: #50577A;
// $dark6: #6B728E;
$dark6: #7c839c;
// $light1: #7e849e;
// $light2: #b8b5d8;
// $light3: #d7d4ee;
$light1: #B1B2FF;
$light2: #AAC4FF;
// $light3: #D2DAFF;
$light3: #9ba4cd;
$light4: #EEF1FF;
$light-trans: hsla(239, 100%, 85%, 0.5);
$pale-trans: rgba(155, 164, 205, 0.70);
$purple-trans: rgba(177, 178, 255, 0.85);
$dark-trans: rgba(58, 59, 77, 0.85);

$line-hight: 1.5;
$input-line-height: 1.25;

$border-width: 2px;
$outline-width: 2px;
$border-radius: 6px;

$gap: 1rem;
$double-gap: 2 * $gap;
$input-padding: .75em;

$p-margin: .75rem;

$btn-std: calc(1rem * $input-line-height + 2 * $border-width + 2 * $input-padding);

$max-width: 75rem;

$breakpoint-m: 40rem;
$breakpoint-l: 64rem;
$breakpoint-xl: 80rem;

$trans-dur: .2s;
$trans-fn: ease-in-out;

%input-btn-clear {
    color: inherit;
    border-radius: $border-radius;
    font-family: inherit;
    font-size: inherit;
    transition: all $trans-dur $trans-fn;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin min-width($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin screen-medium {
    @media (min-width: $breakpoint-m) {
        @content;
    }
}

@mixin screen-large {
    @media (min-width: $breakpoint-l) {
        @content;
    }
}

@mixin screen-extra-large {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}