@use './variables' as *;

.shimmer {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: linear-gradient(90deg, transparent 33%, $light-trans 50%, transparent 67%);
        background-size: 300% 100%;
        border-radius: inherit;
        animation: shimmer 1s ease-in-out infinite;
    }
}

.link {
    color: $light2;

    @include hover {
        color: $light1;
    }
}

.linkBtn {
    @extend %input-btn-clear;
    display: inline-block;
}

.linkCenter {
    display: block;
    width: fit-content;
    margin-inline: auto;
}

@keyframes shimmer {
    from {
      background-position-x: 100%;
    }
    to {
      background-position-x: 0%;
    }
  }