@use './variables' as *;

:root {
  --fade-in: fade-in;
  --slide-down: slide-down;

  line-height: $line-hight;

  font-weight: 400;
  font-family: $main-font;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $dark2;
  color: $light4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color $trans-dur $trans-fn;
}

input {
  @extend %input-btn-clear;

  width: 100%;
  outline: $outline-width solid transparent;
  line-height: $input-line-height;
  padding: $input-padding;
  background-color: $dark3;

  &:focus {
    outline-color: $light1;
    background-color: $dark2;
  }

  &::placeholder {
    color: $dark6;
  }

  &[type=checkbox] {
      appearance: none;
      font-family: $icon-font;
      font-size: .75rem;
      line-height: 1;
      width: fit-content;
      aspect-ratio: 1/1;
      padding: .25rem;
      cursor: pointer;
      color: $light3;
    
      &::after {
        content: $check-icon;
        transition-property: visibility, opacity;
        transition-duration: $trans-dur;
        transition-timing-function: $trans-fn;
        visibility: hidden;
        opacity: 0;
      }
    
      &:checked::after {
        visibility: visible;
        opacity: 1;
      }
  }

  @include hover {
    background-color: $dark2;
  }
}

button {
  @extend %input-btn-clear;

  background-color: transparent;
}

button,
label {
  cursor: pointer;
}

label {
  line-height: 2;
  font-weight: 400;
}

.shimmer {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(90deg, transparent 33%, $light-trans 50%, transparent 67%);
    background-size: 300% 100%;
    border-radius: inherit;
    animation: shimmer 1s ease-in-out infinite;
  }
}

.link {
    color: $light2;

  @include hover {
      color: $light1;
  }
}

.link-btn {
  @extend %input-btn-clear;
}

@keyframes shimmer {
  from {
    background-position-x: 100%;
  }
  to {
    background-position-x: 0%;
  }
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes slide-down {
  from {
    transform: translateY(-25%);
  }
  to {
    transform: translate(0%);
  }
}

%input-btn-clear {
  color: inherit;
  border: $border-width solid transparent;
  border-radius: $border-radius;
  font-family: inherit;
  font-size: inherit;
  transition: all $trans-dur $trans-fn;
}