@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot');
  src:  url('/fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
  content: "\e912";
}
.icon-arrows-v:before {
  content: "\e911";
}
.icon-slim-arrow-up:before {
  content: "\e90e";
}
.icon-slim-arrow-down:before {
  content: "\e90f";
}
.icon-chevron-down:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e910";
}
.icon-arrow-left:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-author:before {
  content: "\e909";
}
.icon-books:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e908";
}
.icon-bin:before {
  content: "\e907";
}
.icon-edit:before {
  content: "\e900";
}
.icon-cross:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-loop:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e906";
}
