@use '../../../styles/variables' as *;

.base {
    background-color: $dark4;
    border-radius: $border-radius;
}

.item {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap;
    padding: 1rem;
    transition: background-color $trans-dur $trans-fn;
    animation: var(--anim-fade-in);

    @include hover {
        background-color: $light2;
        color: $dark1;
    }
}