@use '../../styles/variables' as *;

$manage-btn-dimens: 4rem;

%border {
    border-radius: $border-radius;
}

%margined {
    margin-inline: var(--main-padding);

    @include screen-large {
        margin: 0;
    }
}

%fade-in {
    animation: var(--anim-fade-in);
}

.base {
    --manage-btn-dimens: #{$manage-btn-dimens};

    @extend %border;

    display: grid;
    align-content: flex-start;
    background-color: $dark2;
    padding-bottom: var(--main-padding);

    h1 {
        min-height: 1lh;
        font-size: 2rem;
        margin-block: 1rem;
    }
    
    header {
        @extend %border;

        grid-area: head;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $dark4;
        padding-block: calc(var(--main-padding) * 1.5);
        padding-inline: var(--main-padding);
        
        hgroup {
            @extend %fade-in;
        }
    }

    menu {
        @extend %border;
        grid-area: menu;
        list-style-type: none;
        display: grid;
        grid-auto-columns: minmax($manage-btn-dimens, auto);
        grid-auto-rows: minmax($manage-btn-dimens, auto);
        justify-content: space-between;
        background-color: $dark4;

        li {
            aspect-ratio: 1/1;

            &>* {
                @extend %fade-in;
                width: 100%;
            }
        }
    }

    figure {
        @extend %margined;

        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            @extend %border;
            background-color: $dark2;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    main {
        @extend %border;
        @extend %margined;

        grid-area: main;
        display: flex;
        align-items: center;
        background-color: $dark5;
        padding: var(--main-padding);

        section {
            width: 100%;
            @extend %fade-in;

            p {
                margin-block: $p-margin;
            }
        }
    }

    aside {
        @extend %margined;
        @extend %border;
        grid-area: aside;
    }

    @include screen-medium {
        --inline-indent: #{$double-gap};
    }

    @include screen-large {
        padding: var(--main-padding);
    }
}

.bleak {
    img {
        filter: opacity(0.25);
    }
}