@use '../../../styles/variables' as *;

.cont {
    background-color: $dark2;
    padding: var(--main-padding);
    padding-top: 0;
    border-radius: 0 0 $border-radius $border-radius;
}

.panel {
    --col-n: 1;

    display: grid;
    grid-template-columns: repeat(var(--col-n), 1fr);
    gap: $gap;
    padding: $gap;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: $dark6;

    @include screen-medium {
        --col-n: 2;
        padding: 2rem;
    }

    @include screen-large {
        --col-n: 3;
        padding: 3rem;
        gap: $double-gap;
    }
}

.search,
.addBtn {
    grid-column: 1 / -1;
}

.addBtn {
    justify-self: center;
}

.sort {
    position: relative;
}