@use '../../../styles/variables' as *;

.info {
    text-align: right;
}

.price {
    font-size: 8vw;

    @include screen-medium {
        font-size: 2.5rem;
    }
}

.stock {
    font-size: 0.75rem;
    color: $light3;
}

.buy {
    display: inline-block;
    font-size: 1.125rem;
    margin-left: 0.5em;
    margin-top: 0.5em;
}