@use '../../styles/variables' as *;

.bar {
    position: relative;

    input {
        padding-right: calc($el-padding + $btn-std);

        &:read-only {
            cursor: pointer;
        }

        &:focus+button,
        &:not(:placeholder-shown)+button {
            opacity: 1;
            visibility: visible;
        }
    }

    button {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}