@use '../../styles/variables' as *;

$main-height: 10rem;

.author {
    grid-template-areas:    'head menu'    
                            'img img'
                            'main main'
                            'aside aside';
    grid-auto-columns: 1fr auto;
    grid-auto-rows: auto auto minmax($main-height, auto) 1fr;
    row-gap: var(--inline-indent);

    @include screen-medium {
        grid-template-areas:    'head head menu'
                                'img main main'
                                'aside aside aside';
        grid-auto-columns: 2fr 3fr auto;
        grid-auto-rows: auto minmax($main-height, 1fr) auto;

        figure {
            margin-right: 0;
        }
    }

    @include screen-large {
        grid-template-areas:    'img head menu'
                                'img main main'
                                'aside aside aside';

        header,
        main {
            margin-left: var(--inline-indent);
        }
    }
}