@use '../../styles/variables' as *;

%border {
    border-radius: $border-radius;
}

%margined {
    margin-inline: var(--inline-indent);

    @include screen-large {
        margin: 0;
    }
}

%fade-in {
    animation: var(--fade-in) $trans-dur $trans-fn;
}

.base {
    --inline-indent: #{$gap};

    @extend %border;

    display: grid;
    align-content: flex-start;
    background-color: $dark3;
    padding-bottom: var(--inline-indent);
    row-gap: var(--inline-indent);
    overflow: hidden;

    h1 {
        min-height: 1lh;
        font-size: 2rem;
        margin-top: var(--inline-indent);
        margin-bottom: 1rem;
    }
    
    header {
        @extend %border;

        grid-area: h;
        background-color: $dark4;
        padding: var(--inline-indent);

        hgroup {
            @extend %fade-in;
        }
    }

    figure {
        @extend %margined;

        grid-area: img;
        line-height: 0;
        
        img {
            @extend %border;
            max-width: 100%;
        }
    }

    main {
        @extend %border;
        @extend %margined;

        grid-area: desc;
        display: flex;
        align-items: center;
        background-color: $dark5;
        padding: var(--inline-indent);

        p {
            @extend %fade-in;
        }
    }

    aside {
        @extend %margined;
        @extend %border;

        grid-area: info;
        padding: var(--inline-indent);

         & > div {
            @extend %fade-in;
         }
    }

    @include screen-medium {
        --inline-indent: #{$double-gap};
    }

    @include screen-large {
        padding: var(--inline-indent);
    }
}