@use '../../styles/variables' as *;

.book {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap;
    animation: var(--fade-in) $trans-dur $trans-fn;

    h1 {
        font-size: 2rem;
        margin-block: .5rem;
    }
    
    h5 {
        font-size: 1rem;
        color: $light3;
    
        a {
            color: $light1;
    
            @include hover {
                color: $light2;
            }
        }
    }
}

.info {
    text-align: right;
}

.price {
    font-size: 2rem;
    margin-bottom: $main-inline-padding;
}

.stock {
    font-size: 0.75rem;
    color: $light3;
}

.buy {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: $main-inline-padding;

    &:disabled {
        background-color: $dark6;
        color: $light3;
        cursor: not-allowed;
    }

    i {
        margin-right: 0.5rem;
    }

    @include hover {
        &:not(:disabled) {
        background-color: $light2;
        color: $dark3;
        }
    }
}