@use '../../styles/variables' as *;

.book {
    grid-template-areas:    'head menu'
                            'img img'
                            'aside aside'
                            'main main';
    grid-auto-columns: 1fr auto;
    grid-auto-rows: auto minmax(100vw, auto) auto minmax(100vw, auto);
    row-gap: var(--main-padding);
        
    h5 {
        font-size: 1rem;
        color: $light3;
        min-height: 1lh;
    }

    aside {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: var(--main-padding);
        background-color: $dark2;
    }

    @include screen-medium {
        grid-template-areas:    'head head aside menu'
                                'main main img img';

        grid-auto-columns: 2fr auto 1fr auto;
        grid-auto-rows: auto minmax(50vh, 1fr);

        header {
            border-radius: $border-radius 0 0 $border-radius;
        }

        aside {
            background-color: $dark4;
            margin-inline: 0;
            padding-block: 0;
            border-radius: 0 $border-radius $border-radius 0;
        }
        
        main {
            margin-right: 0;
        }
    }

    @include screen-large {
        figure {
            margin-left: var(--main-padding);
        }
    }
}

.info {
    text-align: right;
    animation: var(--anim-fade-in);

    p {
        font-size: 6vw;
        
        @include screen-medium {
            font-size: 2.5rem;
        }
    }

    span {
        font-size: 0.75rem;
        color: $light3;
    }
}
