@use '../../../styles/variables' as *;

.root {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    
    & > nav,
    & > footer {
        background-color: $dark1;
    }
}

.main {
    padding-inline: $gap;
    width: 100%;
    max-width: $max-width;
    margin-inline: auto;
    margin-block: 2 * $double-gap;
}