@use '../../../styles/variables' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark5;
    font-size: .75rem;
    padding: calc(2 * var(--main-padding)) var(--main-padding);

    a {
        color: $dark6;
        text-decoration: underline dotted $dark6;
        text-underline-offset: 3px;
    }
}